header{
    padding:0px;
    text-align:left;
    font-family: "robotoslab";
    font-size:28px;
}

aside{
	margin-top:5px;
    background-color:#e3e3e3;
    padding:5px;
    text-align:center;
    <!--font-style:italic; -->
    font-size:15px;
    font-family: "robotoslab";
}

#sidebar{
    display: inline-block;
    float: left;
    font-size:15px;
    min-width: 200px;
}

section{
	display: inline-block;
    padding:5px;
    border:solid 3px #7f7f7f;
    margin-top:5px;
}

article{
    padding:5px;
    margin-top:5px;
}

footer{
    padding:5px;
    font-size:18px;
    text-align:center;
    font-weight:bold;
    font-family: "robotoslab";
}

nav{
    text-align:center;
}

ul li{
    display:inline;
    padding-left:5px;
    padding-right:5px;
    text-align:left;
    font-size:20px;
    font-weight:bold;
    font-family: "robotoslab";
}

h1 {
    font-size: 35px;
    font-family: "robotoslab";
    color: #303030;
    letter-spacing: 1px;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 20px;
}